.modal-dialog{
    width : 90%;
}
body{
    background-color: rgb(243, 82, 149);
   font-family:monospace;
   color:white;
}
#score{
    font-size:30px;
    float:left;
    margin-left:50px;
}
#timer{
    font-size:30px;
    float:right;
    margin-right:50px;
}

#drawing{
    color: yellow;
    font-size :30px;
}
#your_sketch, #confidence{
    font-size:30px;
}
canvas{
    animation-name:rtf;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border:2px;
    margin-top:30px;
    background-color:white;
}
@keyframes rtf {
    from{box-shadow : 2px 2px 40px white; }
    to{box-shadow : 2px 2px 40px grey; }
}
h1{
    color:pink;
    font-size:50px;
}
h1 button{
    float:right;
}